<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour it!{{else}}Nom Nom! That was delicious. Add that back on my list.{{/if}}
	</button>

	<!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> -->
</li>
